*{
    margin: 0;
    font-family: 'Montesserat', sans-serif;
}
@font-face{
    font-family: 'Montesserat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: rgb(251, 239, 217);
    padding: 20px;
    border-radius: 10px;
}
a{
    background-color: rgb(213, 98, 98);
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
}

a:hover,button:hover{
   background-color: rgb(168, 168, 240); 
   color: black;
}

button{
    background-color: rgb(213,98,98);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    width: 50%;
    align-self: center;
}